<div class="title">
<pre>
  Lab generator
</pre>
  <div class="menuBar">
    <ascii-div><a href="./menu">menu</a></ascii-div>
    <ascii-div><a href="./character">characterEditor</a></ascii-div>
    <ascii-div><a href="./labyrinthForm">new Labyrinth</a></ascii-div>
  </div>
</div>
<div class="container">

  <div class="mainArea">
    <app-level-view [currentPartieProxy]="currentPartyProxy"
                    [renderService]="fullViewRenderService"
                    [rangeArroundPlayer]="1" class="level"
                    [characterRenderData]="currentCharacterRenderData"
    ></app-level-view>
  </div>
  <div class="sidebar">
    <app-sliding
      [openData]="{position:'absolute',width: 'auto', right:'0px'}"
      [closeData]="{position:'absolute',width: '100px', right:'0px'}"
      style="background-color:red"


    >
      <app-map-view [currentPartieProxy]="currentPartyProxy"
                    [renderService]="mapRenderService"
      ></app-map-view>
    </app-sliding>
  </div>
  <div class="toolbar">
    <div class="gameplay">
      <div>

        <ascii-div (click)="move('TOP')" (keyup.arrowUp)="move('TOP')">T</ascii-div>
      </div>
      <div>
        <ascii-div (click)="move('LEFT')" (keyup.arrowLeft)="move('LEFT')"><-</ascii-div>
        <ascii-div (click)="move('BOTTOM')" (keyup.arrowBottom)="move('BOTTOM')">B</ascii-div>
        <ascii-div (click)="move('RIGHT')" (keyup.arrowRight)="move('RIGHT')">-></ascii-div>
        <ascii-div (click)="take()" (keyup.enter)="take()">Prendre</ascii-div>
      </div>
    </div>
    <app-ascii class="character">
      {{fullViewRenderService.renderPlayer(this.currentCharacterRenderData)}}
    </app-ascii>
    <div class="inventoryArea">
      <app-sliding
        [openData]="{bottom:'100px'}"
        [closeData]="{bottom:'10px'}"
      >
        <app-inventory [player]="this.currentPartyProxy.player"></app-inventory>
      </app-sliding>
    </div>
  </div>

</div>
