<div>

  <div class="mainArea">
  <app-level-view [currentPartieProxy]="currentPartyProxy"
                  [renderService]="fullViewRenderService"
                  [rangeArroundPlayer]="1" class="level"
                  [characterRenderData]="currentCharacterRenderData"
  ></app-level-view>
    <app-map-view [currentPartieProxy]="currentPartyProxy"
                  [renderService]="mapRenderService"
                  class="map"
    ></app-map-view>
  </div>
  <div class="toolbar">
    <div class="gameplay">
      <div>

        <ascii-div (click)="move('TOP')" (keyup.arrowUp)="move('TOP')">T</ascii-div>
      </div>
      <div>
        <ascii-div (click)="move('LEFT')" (keyup.arrowLeft)="move('LEFT')"><-</ascii-div>
        <ascii-div (click)="move('BOTTOM')" (keyup.arrowBottom)="move('BOTTOM')">B</ascii-div>
        <ascii-div (click)="move('RIGHT')" (keyup.arrowRight)="move('RIGHT')">-></ascii-div>
        <ascii-div (click)="take()" (keyup.enter)="take()">Prendre</ascii-div>
      </div>
    </div>
    <div class="character">
      <pre>{{fullViewRenderService.renderPlayer(this.currentCharacterRenderData)}}</pre>
    </div>
    <div><span *ngFor="let item of this.currentPartyProxy.player.inventoryArray">{{item.name}}</span></div>
  </div>

</div>
