<div class="title">
<pre>
  Lab generator
</pre>
  <div class="menuBar">
    <ascii-div><a href="./menu">menu</a></ascii-div>
    <ascii-div><a href="./character">characterEditor</a></ascii-div>
    <ascii-div><a href="./labyrinthForm">new Labyrinth</a></ascii-div>
  </div>
</div>
<div class="noParty" *ngIf="!currentPartyProxy">
  <ascii-div>no game loaded for the moment, please wait or create a new game</ascii-div>

  <ascii-div><a href="./labyrinthForm">new game</a></ascii-div>
</div>
<div class="container" *ngIf="currentPartyProxy">

  <div class="mainArea">
    <app-level-view [currentPartieProxy]="currentPartyProxy"
                    [rangeArroundPlayer]="1" class="level"
                    [characterRenderData]="currentCharacterRenderData"
    ></app-level-view>
  </div>
  <div class="sidebar">
    <app-sliding
      [openData]="{position:'absolute',

      transform: 'translateX(-50%)',
      left:'50%'}"
      [closeData]="{position:'absolute',
           transform: 'translateX(-80px)',
       left:'100%'}"
      [onlyOnClick]="true"
      style="background-color:red; overflow: hidden;"
    >
      <app-map-view [currentPartieProxy]="currentPartyProxy"
                    [renderService]="mapRenderService"
      ></app-map-view>
    </app-sliding>
  </div>
  <div class="toolbar">
    <div class="gameplay">
<app-keypad></app-keypad>
    </div>
    <app-ascii class="character">{{fullViewRenderService.renderPlayer(this.currentCharacterRenderData)}}</app-ascii>
    <div class="inventoryArea">
      <app-sliding
        onlyOnClick="true"
        [openData]="{top:'50%', transform:'translateY(-50%)'}"
        [closeData]="{top:'100%', transform:'translateY(-40px)'}"
      >
        <app-inventory [player]="this.currentPartyProxy.player"></app-inventory>
      </app-sliding>
    </div>
  </div>
  <app-ascii-modal #winModal>
    <ascii-div> YOU WIN !</ascii-div>
    <app-ascii class="character">
      {{fullViewRenderService.renderPlayer(this.currentCharacterRenderData)}}
    </app-ascii>
    <app-ascii>{{fullViewRenderService.renderObj({name: 'exit'}, undefined)}}</app-ascii>
  </app-ascii-modal>


</div>
