.container {
  display: grid;
  grid-template-columns: 750px 50px;
  grid-template-rows: 650px 50px;
  grid-template-areas:
    "main sidebar"
    "toolbar toolbar";
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.mainArea {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  position: relative;
}

.inventoryArea{
   bottom: 0;
}

.mapArea {
}


.toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template-columns: 200px 40px 1fr;
}

.button {
  display: inline-flex;
  text-align: center;
}


.noPartyMessage {
  padding: 50px;
}
