<div class="menuBar text" ascii-border borderTemplateName="doubleGridTemplate">
  <span>LAB GENERATOR </span>
  <button ascii-render class="ihm-ui"><a href="./menu" class="interact-ui text">menu</a></button>
  <button ascii-render class="ihm-ui"><a href="./new" class="interact-ui text">new Labyrinth</a></button>
  <span></span>
</div>
<div class="noPartyMessage" *ngIf="!currentPartyProxy">
  <div ascii-border class="text interact-ui">no game loaded for the moment, please wait or create a new game
    <button class="ihm-ui" ascii-border><a class="text interact-ui" href="./new">new game</a></button>
  </div>
</div>
<div class="container" *ngIf="currentPartyProxy">
  <div class="mainArea">
    <level-view [currentPartie]="currentPartyProxy"
                [rangeArroundPlayer]="1"
    ></level-view>
  </div>
  <div class="sidebar">

    <app-sliding
      [openData]="{position:'absolute',
      transform: 'translateX(-50%)',
      left:'-100%'}"
      [closeData]="{position:'absolute',
           transform: 'translateX(-81px)',
       left:'100%'}"
      [onlyOnClick]="true"
      style="background-color:red; overflow: hidden;"
    >
      <map-view [currentPartieProxy]="currentPartyProxy"
                [renderService]="mapRenderService"
      ></map-view>


    </app-sliding>

    <app-sliding
      onlyOnClick="true"
      [openData]="{position:'absolute',
      transform: 'translateX(-50%)',
      left:'50%',
      bottom:'0'}"
      [closeData]="{position:'absolute',
           transform: 'translateX(-27px)',
       left:'-100%',
          bottom:'0'}">
      <div class="inventoryArea">
        <inventory-view
          [player]="this.currentPartyProxy.player"
        ></inventory-view>
      </div>
    </app-sliding>

  </div>
  <div class="toolbar">
    <div class="gameplay">
      <keypad-form></keypad-form>
    </div>
    <div class="inventoryArea">

    </div>
  </div>
  <app-ascii-modal #winModal class="text">
    <div ascii-border  class="background-ui">
    <h1 ascii-border  class=" text important-ui"> YOU WIN !</h1>
    <span app-ascii>{{fullViewRenderService.renderObj({name: 'exit'})}}</span>
    <span app-ascii>
      {{fullViewRenderService.renderObj(this.currentPartyProxy.player)}}
    </span>


    <div ascii-border xRepeat="40">
      <div>total size:{{this.score.size}}</div>
      <div>total number of room:{{this.score.numberOfRooms}}</div>
      <div>minimum solution:{{this.score.solutionLength}} m</div>
      <div>total number of wrong exit:{{this.score.numberOfCulDeSac}}</div>
      <div>total walked distance:{{this.score.numberOfSteps}} m</div>
      <div></div>
      <div>total score:{{this.score.score}}</div>
    </div>
    <button ascii-border class="important-ui" (click)="nextLevel()">next level</button>
    </div>
  </app-ascii-modal>

  <app-ascii-modal #loadingModal>
    <app-loading></app-loading>
  </app-ascii-modal>


</div>
