:host {
  background: white;
}

.levelRowRender {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1.5em);
}

.container {
  display: flex;
  flex-direction: row;
  background: white;
}

.container > div {
  background: white;
}

.container > span {
  background: white;
}

.title {
  display: inline-flex;
  flex-direction: column;
  width: 36px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.main {
  display: inline-block;
}

.mapzone {
  display: inline-block
}
