<div ascii-render class="container"
     [borderTemplate]="borderData"
>
  <div class="title text">
    <div>M</div>
    <div>A</div>
    <div>P</div>
  </div>
  <div class="main asciiArt"
       [ngStyle]="{'grid-template-columns': 'repeat(auto-fill, '+ currentPartieProxy.level.contentArray[0].length + ')'}">
    <div class="row" *ngFor="let row of currentPartieProxy.level.contentArray; let x = index ">
      <ng-container *ngFor="let levelCaseInput of row; let y = index">
        <ng-container *ngIf="isCaseShowable(levelCaseInput)">
          <div class="mapzone" ascii-border
               xRepeat="1" yRepeat="1"
               [borderTemplate]="borderRendered(levelCaseInput)"
          >{{contentRendered(levelCaseInput)}}</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="legend text" ascii-border>
    legend:
    <div> ¤ = You are here</div>
    <div> € = Exit</div>
    <br/>
    <div> A-Z = Locked door</div>
    <div> a-z = keys</div>
    <br/>
    <div> | <br/>.+- = open path</div>
  </div>

</div>
