:host {
  background: white;
  text-align: left;
}

.levelRowRender {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1.5em);
}

.container {
  display: flex;
  flex-direction: row;
  background: white;
}

.container > div {
  background: white;
}

.container > span {
  background: white;
}


.main {
  display: inline-block;
}

.mapzone {
  display: inline-block
}

