<div class="zone">
  <ascii-div
    [xRepeat]="1"
    [yRepeat]="1"
    [leftTemplate]="renderSide('LEFT')"
    [rightTemplate]="renderSide('RIGHT')"
    [topTemplate]="renderSide('TOP')"
    [bottomTemplate]="renderSide('BOTTOM')"

    [topLeftTemplate]="renderCorner('TOP','LEFT')"
    [topRightTemplate]="renderCorner('TOP','RIGHT')"
    [bottomLeftTemplate]="renderCorner('BOTTOM','LEFT')"
    [bottomRightTemplate]="renderCorner('BOTTOM','RIGHT')"
    [onClick]="manageClick"
    class="asciiDecor"
  >

    <ng-content></ng-content>
    <span *ngFor="let obj of gameplayLabService.levelContent(levelCase)" (click)="takeObj(obj)" class="asciiArt asciiHighlight">[{{obj.name}}]</span>
  </ascii-div>

</div>
