.zone {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}
.side {
  /*  text-align: center;
   display: flex;
   justify-content: center; /* align horizontal */
/* align-items: center;*/
}
