<div class="zone">
  <ascii-div
    [xRepeat]="1"
    [yRepeat]="1"
    [leftTemplate]="renderSide('LEFT')"
    [rightTemplate]="renderSide('RIGHT')"
    [topTemplate]="renderSide('TOP')"
    [bottomTemplate]="renderSide('BOTTOM')"

    [topLeftTemplate]="renderCorner('TOP','LEFT')"
    [topRightTemplate]="renderCorner('TOP','RIGHT')"
    [bottomLeftTemplate]="renderCorner('BOTTOM','LEFT')"
    [bottomRightTemplate]="renderCorner('BOTTOM','RIGHT')"
  >

    <ng-content></ng-content>
  </ascii-div>

</div>
