<div ascii-div>
  <span ascii-div class="loadingContent text" [computeRenderEachTime]="false" [xRepeat]="80">
    <div ascii-div> Labyrinth generating ...</div>
    <br/>
    <div ascii-div>Do you know it ? ({{currentLoadingMessage}})</div>
    <br/>

    <div ascii-div *ngIf="currentLoadingMessage===0">
      Find the ladder to the exit to win.
  <div app-ascii>{{fullViewRenderService.renderObj({name: 'exit'})}}</div>

    </div>

    <pre ascii-div class="text" *ngIf="currentLoadingMessage===1" xRepeat="70" yRepeat="10">
   You can move by :
      - clicking on the room you want to go
      - clicking on the door you want to use
      - using directional key
      - using the pad at the bottom of the screen

    </pre>
    <div ascii-div *ngIf="currentLoadingMessage===2">
      some door are closed and need a key to be open
    </div>
    <div ascii-div *ngIf="currentLoadingMessage===3">
      You have a map
    </div>

    <div ascii-div *ngIf="currentLoadingMessage===4">
      <div>The lab didn't really take that much time to generate.</div>
      <div>The dev just wanted a way to give tips to player.</div>
    </div>

    <div ascii-div *ngIf="currentLoadingMessage===5">All labyrinths always have a solution
    </div>

    <div ascii-div> click to show next advice</div>
  </span>
</div>
