<div ascii-render
     class="loadingContent text"
     borderTemplateName="loadingBorderGridTemplate">
  <h1 ascii-render> Labyrinth generating ...</h1>
  <br/>
  <h1 ascii-render>Do you know it ? ({{currentLoadingMessage}})</h1>
  <br/>

  <h1 ascii-render *ngIf="currentLoadingMessage===0">
    Find the ladder to the exit to win.
    <div app-render>{{fullViewRenderService.renderObj({name: 'exit'})}}</div>

  </h1>

  <pre ascii-render class="text" *ngIf="currentLoadingMessage===1" xRepeat="70" yRepeat="10">
   You can move by :
      - clicking on the room you want to go
      - clicking on the door you want to use
      - using directional key
      - using the pad at the bottom of the screen

    </pre>
  <div ascii-render *ngIf="currentLoadingMessage===2">
    some door are closed and need a key to be open
  </div>
  <div ascii-render *ngIf="currentLoadingMessage===3">
    You have a map
  </div>

  <div ascii-render *ngIf="currentLoadingMessage===4">
    <div>The lab didn't really take that much time to generate.</div>
    <div>The dev just wanted a way to give tips to player.</div>
  </div>

  <div ascii-render *ngIf="currentLoadingMessage===5">All labyrinths always have a solution
  </div>

  <div ascii-render> click to show next advice</div>

</div>
