<div ascii-div class="decor-ui" [computeRenderEachTime]="false" name="border">
  <div ascii-div class="label text">edit your character !</div>
  <div class="column">
  <div *ngFor="let bodyPart of renderService.bodyPartsKey">
    <span class="label text">{{bodyPart}}</span>
    <div ascii-div [xRepeat]="10" class="ihm-ui" contentClass="interact-ui">
      <input [(ngModel)]="data[bodyPart]" (change)="update()" [maxLength]="bodyPart==='hat'?6:1">
    </div>
  </div>
  </div>
  <div class="column">
  <span class="label text">render :</span>
  <div ascii-div [yRepeat]="5" [xRepeat]="8" contentClass="asciiArt">
    <app-ascii>{{render}}</app-ascii>
  </div>
  <div ascii-div [yRepeat]="5" [xRepeat]="8" contentClass="asciiArt">
    <app-ascii>{{renderReverse}}</app-ascii>
  </div>
    <div ascii-div [yRepeat]="5" [xRepeat]="8" contentClass="asciiArt">
    <app-ascii>{{renderFront}}</app-ascii>
  </div>
    <div ascii-div [yRepeat]="5" [xRepeat]="8" contentClass="asciiArt">
    <app-ascii>{{renderBack}}</app-ascii>
  </div>
  </div>
</div>
