input, textarea {
  width: auto
}

input:focus {
  outline: none !important;
}

span.label {
  vertical-align: middle;
  display: flex;
}
.column{
  display: inline-block;
}

input {
  width: 40px;
}
