input, textarea {
  width: auto
}

input:focus {
  outline: none !important;
}

span.label {
  vertical-align: middle;
  display: flex;
}
.layout{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.column{
  display: inline-block;
}

input {
  width: 40px;
}
