<div ascii-div class="zone asciiArt decor-ui"
     [borderDatas]="borderRendered()"
     [onClick]="manageClick()"
     (click)="clickOnZone( $event)"
     [xRepeat]="1"
     [yRepeat]="1"
>
  <div class="zoneContent">
    <div class="background-ui zoneBackground">{{backgroundRender()}}</div>
    <app-ascii-on-grid-div [width]="15" [height]="5">
      <span app-ascii
            *ngFor="let obj of this.gameplayLabService.levelContent(this.zone)"
            class="zoneObject asciiArt interact-ui"
            (click)="this.takeObj(obj)"
            [tooltip]="computeTooltip(obj)"
      >{{renderObj(obj)}}
       </span>
    </app-ascii-on-grid-div>

  </div>
</div>
