<div ascii-div class="zone asciiArt decor-ui"
     [borderDatas]="borderRendered()"
     [onClick]="manageClick()"
     (click)="clickOnZone( $event)"
     [xRepeat]="1"
     [yRepeat]="1"
>
  <div class="zoneContent">
    <div class="background-ui zoneBackground">{{backgroundRender()}}</div>
    <app-ascii-on-grid-div *ngFor="let obj of this.gameplayLabService.levelContent(this.zone)"
    >
      <app-ascii
        (click)="this.takeObj(obj)"
        [tooltip]="computeTooltip(obj)"
      ><span class="zoneObject asciiArt interact-ui">{{renderObj(obj)}}
       </span></app-ascii>
    </app-ascii-on-grid-div>

  </div>
</div>
