.levelRowRender{
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-template-rows: repeat(auto-fit, 210px);
}



::ng-deep.outside .border{color:lightgray}
::ng-deep.inside .border{color:grey}
