<div class="levelRender">


  <div class="levelRowRender" *ngFor="let row of fieldOfView; let x = index ">

    <ng-container *ngFor="let levelCaseInput of row; let y = index">
      <ng-container *ngIf="levelCaseInput.contentArray.length>0">
        <app-zone-view [zone]="levelCaseInput"> </app-zone-view>

      </ng-container>
      <ng-container *ngIf="levelCaseInput.contentArray.length===0">
        <div ascii-div class="zone outside background-ui"
             [xRepeat]="1"
             [yRepeat]="1"
             [borderDatas]="emptyRendered(x,y)"
        >
        </div>
      </ng-container>
    </ng-container>


  </div>
</div>
