<div class="grid"
     [ngStyle]="computeGridStyle()"
>
  <div class="content"
       [ngStyle]="computedInnerStyle"
       [ngClass]="contentClass" >
      <span #contentDiv>
      <ng-content></ng-content>
        </span>
  </div>
  <span class="asciiArt border" [ngClass]="topLeftBorderClass">{{topLeftTemplate}}</span>
  <span *ngFor="let i of counter(xComputedRepeat)"
        class="asciiArt border" [ngClass]="topBorderClass"
        (click)="this.onClick('TOP', i)"
  >{{topTemplate}}</span>
  <span
    class="asciiArt border" [ngClass]="topRightBorderClass"
  >{{topRightTemplate}}</span>
  <ng-container *ngFor="let i of counter(yComputedRepeat)">
      <span
        class="asciiArt leftSide border" [ngClass]="leftBorderClass"
        (click)="this.onClick('LEFT',i)">{{leftTemplate}}</span>

    <span
      class="asciiArt rightSide border" [ngClass]="rightBorderClass"
      (click)="this.onClick('RIGHT',i)">{{rightTemplate}}</span>
  </ng-container>


  <span
    class="asciiArt border" [ngClass]="bottomLeftBorderClass"
  >{{bottomLeftTemplate}}</span>
  <span *ngFor="let i of counter(xComputedRepeat)"
        (click)="this.onClick('BOTTOM',i)"
        class="asciiArt border" [ngClass]="bottomBorderClass"
  >{{bottomTemplate}}</span>
  <span
    class="asciiArt border" [ngClass]="bottomRightBorderClass"
  >{{bottomRightTemplate}}</span>
</div>
