.asciiArt{
  display: block;
  font-family: monospace;
  white-space: pre;
  color:gray;
}

.asciiArt input {
  border: none;
  font-family: monospace;
  white-space: pre;
  width: auto
}

.asciiDecor{
  color:lightgray;
}
.asciiHighlight{
  color:black;
}
.asciiHighlight{
  color:black;
}

.container{display: inline-block;}

.grid{
  display: grid;
  grid-template-columns: min-content repeat(auto-fill, min-content) min-content;
  grid-template-rows: min-content repeat(auto-fill, min-content) min-content;
  width: min-content;
  height: min-content;
}
.content{
  grid-row-start: 2;
  grid-row-end: -2;
  grid-column-start: 2;
  grid-column-end: -2;

}
