<div class="levelRender">


  <div [ngClass]="'levelRowRender'" *ngFor="let row of fieldOfView; let x = index ">

    <ng-container *ngFor="let levelCaseInput of row; let y = index">
      <ng-container *ngIf="levelCaseInput.contentArray.length>0">
        <app-zone
          [renderService]="renderService"
          [levelCase]="levelCaseInput"
          label="{{isStart(levelCaseInput)?'start':isExit(levelCaseInput)?'exit':''}}"
          [hasPlayer]="hasPlayer(levelCaseInput)"

        >
          <app-ascii *ngIf="hasPlayer(levelCaseInput)"
                     [content]="renderService.renderPlayer(this.characterRenderData)"
                     [asciiClass]="'asciiHighlight'">

          </app-ascii>
          <app-ascii *ngIf="levelCaseInput.x===currentPartieProxy.level.exit.x && levelCaseInput.y===currentPartieProxy.level.exit.y"
                     [content]="'EXIT'"
                     [asciiClass]="'asciiHighlight'">

          </app-ascii>
        </app-zone>

      </ng-container>
      <ng-container *ngIf="levelCaseInput.contentArray.length===0">
        <app-ascii [content]="'####'"></app-ascii>
      </ng-container>
    </ng-container>


  </div>
</div>
