<div class="levelRender">



  <div [ngClass]="'levelRowRender'" *ngFor="let row of fieldOfView; let x = index ">

    <ng-container *ngFor="let levelCaseInput of row; let y = index">
      <ng-container>
        <app-zone
          [renderService]="renderService"
          [levelCase]="levelCaseInput"
          label="{{isStart(levelCaseInput)?'start':isExit(levelCaseInput)?'exit':''}}"
          [hasPlayer]="hasPlayer(levelCaseInput)"
        >
          <app-ascii *ngIf="hasPlayer(levelCaseInput)"
                     [content]="renderService.renderPlayer(this.characterRenderData)">

          </app-ascii>

          <app-ascii [content]="renderService.renderCenter(levelCaseInput,currentPartieProxy)">
          </app-ascii>
        </app-zone>

      </ng-container>
    </ng-container>


  </div>
</div>
