<div ascii-render class="container decor-ui"
     [borderTemplate]="borderData"
>
  <div class="row1" *ngIf="currentLevelProxy">
    <div class="title text decor-ui">
      <div>M</div>
      <div>A</div>
      <div>P</div>
      </div>
    <div class="main asciiArt ihm-ui"
         [ngStyle]="{'grid-template-columns': 'repeat(auto-fill, '+ currentLevelProxy.contentArray[0].length + ')'}">
      <div class="row" *ngFor="let row of currentLevelProxy.contentArray; let x = index ">
        <ng-container *ngFor="let levelCaseInput of row; let y = index">
          <ng-container *ngIf="isCaseShowable(levelCaseInput)">
            <div class="mapzone"
                 ascii-border
                 xRepeat="1"
                 yRepeat="1"
                 [borderTemplate]="borderRendered(levelCaseInput)"
            ><span [ngClass]="computeClass(levelCaseInput)">{{contentRendered(levelCaseInput)}}</span>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="legend text decor-ui" ascii-border>
    <span class="important-ui">legend:</span>
    <br/>
    <div class="important-ui"> ¤ = You are here</div>
    <div class="important-ui"> € = Exit</div>
    <br/>
    <div> A-Z = Locked door</div>
    <div> a-z = keys</div>
    <br/>
    <div> | <br/>.+- = open path</div>
  </div>

</div>
