<ascii-div
  [borderDatas]="borderData"
  [yRepeat]="currentPartieProxy.level.contentArray.length+2"
  [xRepeat]="currentPartieProxy.level.contentArray[0].length+2"
  class="levelRender">
  <div>
    <div>Map</div>
    <div [ngClass]="'levelRowRender'" *ngFor="let row of currentPartieProxy.level.contentArray; let x = index ">

      <ng-container *ngFor="let levelCaseInput of row; let y = index">
        <ng-container *ngIf="isCaseShowable(levelCaseInput)">


          <ascii-hard-div [borderDatas]="borderRendered(levelCaseInput)"
          >
            {{contentRendered(levelCaseInput)}}

          </ascii-hard-div>
        </ng-container>
      </ng-container>

    </div>
    <div> @ = You are here</div>
    <div> € = Exit</div>
  </div>
</ascii-div>
