<div class="modalScreen" *ngIf="_show===true">
  <div class="behindModal" (click)="hide()"></div>
  <div class="behindModal" (click)="hide()"></div>
  <div class="behindModal" (click)="hide()"></div>

  <div class="behindModal" (click)="hide()"></div>
  <div class="backgroundModal">

    <div class="cross asciiArt ihm-ui" ascii-div *ngIf="closable" (click)="hide()">X</div>
  <ng-content></ng-content>

  </div>
  <div class="behindModal" (click)="hide()"></div>

  <div class="behindModal" (click)="hide()"></div>
  <div class="behindModal" (click)="hide()"></div>
  <div class="behindModal" (click)="hide()"></div>

</div>
