<ascii-div xRepeat="100" yRepeat="10">
  <div class="grid">
    <span>
    Labyrinth Size:
    </span>
    <ascii-div [xRepeat]="20">
      <input [(ngModel)]="size"></ascii-div>
  </div>
  <ascii-div [xRepeat]="4" (click)="play()">play</ascii-div>
</ascii-div>

<app-ascii-modal #loadingModal
                 (click)="clickDuringLoading()"   >

  <ascii-hard-div>
    <ascii-div> Labyrinth generating ...</ascii-div><br/>
    <ascii-div>Do you know it ? ({{currentLoadingMessage}})</ascii-div><br/>

    <ascii-div *ngIf="currentLoadingMessage===0">
      Find the stair to the exit to win.
      <pre>
  |--|
  |--|
:¨|--|¨:
'¨¨¨¨¨¨'
  exit
   </pre>

    </ascii-div>

    <ascii-hard-div *ngIf="currentLoadingMessage===1" xRepeat="35" yRepeat="10">
   <pre> You can move by :
      - clicking on the room you want to go
      - clicking on the door you want to use
      - using directional key
      - using the pad at the bottom of the screen
   </pre>
    </ascii-hard-div>
    <ascii-div *ngIf="currentLoadingMessage===2">
      some door are closed and need a key to be open
    </ascii-div>
    <ascii-div *ngIf="currentLoadingMessage===3">
      You have a map
    </ascii-div>

    <ascii-div *ngIf="currentLoadingMessage===5">The lab didn't really take that much time to generate.
      The dev just wanted a way to give tips to player.
    </ascii-div>

    <ascii-div *ngIf="currentLoadingMessage===6">All game have a solution
    </ascii-div>
  </ascii-hard-div>
</app-ascii-modal>

