<div ascii-render class="container text ihm-ui" borderTemplateName="paper">
  <app-character-form></app-character-form>

  <h1 ascii-render class="text">Level creation</h1>
  <div class="grid">
    <h2>
    Labyrinth Size:
    </h2>
    <div class="input--border" ascii-render><input class="text" [(ngModel)]="size"></div>
    <button ascii-render class="text interact-ui"
            (click)="play()">play
    </button>
  </div>


</div>
<app-ascii-modal #loadingModal>
  <app-loading></app-loading>
</app-ascii-modal>
