input {
  border: none;
  outline: none;
  font-family: monospace;
  white-space: pre;
  width: auto
}
input:focus {outline:none!important;}

.grid{
  display: grid;
  grid-template-columns: min-content min-content;
  align-items:center;
}
